
<!-- cart icons -->
<div id="i-cart">
  <ul>
    <li title="view cart" class="list-group-item">
      <!-- Link to cart products whith the total de products -->
      <a href="/cart">
        <i class="bi bi-cart-check-fill" matBadge="{{ totalItems }}"></i>
      </a>
    </li>
    <!-- Clear the cart -->
    <li title="clear cart" class="my-4 list-group-item" (click)="clearCart()">
      <i class="bi bi-cart-x" id="i"></i>
    </li>
  </ul>
</div>

<!-- Button to open panel of categories -->
<button
  mat-raised-button
  color="warn"
  class="ms-2 mt-3"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#staticBackdrop"
  aria-controls="staticBackdrop"
  id="menu"
>
  <i class="bi bi-list-ul"></i>
</button>

<!-- Panel of categories -->
<div
  class="offcanvas offcanvas-start"
  data-bs-backdrop="static"
  tabindex="-1"
  id="staticBackdrop"
  aria-labelledby="staticBackdropLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <div class="col col-auto mb-4" id="filter">
        <h4>All categories</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button (click)="getProducts()" mat-raised-button color="primary">
              All
            </button>
          </li>
          <li class="list-group-item" *ngFor="let category of categories">
            <button
              (click)="getCategory(category)"
              mat-raised-button
              color="primary"
            >
              {{ category }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Auto scroll to top -->
<button
  mat-icon-button
  id="boton"
  class="d-flex justify-content-center"
  (click)="onScrollToTop()"
>
  <i class="bi bi-arrow-up" id="up"></i>
</button>

<!-- All products -->
<div class="container container-xxl my-4">
  <div class="row row-cols-4">
    <div class="col mb-4" *ngFor="let item of products">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <img src="{{ item.image }}" draggable="false" alt="" />
          </div>
          {{ item.title }}
          <div class="fw-semibold">
            <!-- Format the price -->
            Price: {{ item.price | currency: "USD" }}
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <!-- Add the product at the cart -->
            <button
              mat-raised-button
              color="warn"
              (click)="addProduct(item.id)"
              *ngIf="item.disable"
            >
              ADD <i class="bi bi-plus-circle"></i>
            </button>
            <!-- See product details -->
            <button
              mat-raised-button
              color="primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="viewPreview(item)"
            >
              Details <i class="bi bi-eye"></i>
            </button>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>

<!-- Modal of detail -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ itemDetails.title }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <div>
            <img src="{{ itemDetails.image }}" alt="" />
          </div>
          <div class="h-100 w-100 ms-2">
            {{ itemDetails.description }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          mat-raised-button
          color="warn"
        >
          Close <i class="bi bi-x"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Component of footer -->
<app-footer></app-footer>
