@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  font-family: "Inter", sans-serif;
}
#i {
  color: #f44336;
}

#boton {
  position: fixed;
  float: right;
  cursor: pointer;
  right: 14px;
  bottom: 14px;
  z-index: 100;
  background-color: #f4433631;
}

#i-cart {
  position: fixed;
  float: right;
  z-index: 100;
  font-size: 25px;
  right: 15px;
  top: 25px;
}
img {
  width: 150px;
  height: 150px;
}
#cart {
  position: fixed;

  z-index: 100;
  background-color: #f44336;
  float: right;
  right: 14px;
  top: 25px;
}

.card:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
}
#menu {
  position: fixed;
  z-index: 100;
}
a,
a:hover {
  color: #f44336;
}
#up{
  font-size: 25px;
  color: #ff392b;
}
