<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
/>


  <div class="row col-sm-11  my-2">
    <div *ngFor="let product of products">
      <div class="w-100 h-100">
        <div class="row cols-5" id="principal">
          <div class="d-flex aling-items-start">
            <div class="d-flex align-items-center">
              <img src="{{ product.image }}" alt="" />
            </div>
            <div class="row row-cols-1 w-100 h-100 p-1 m-1">
              <div class="col">
                <h3 class="fw-semibold">
                  {{ product.title }}
                </h3>
              </div>
              <div class="col">
                <h4>
                  {{ product.description }}
                </h4>
              </div>
            </div>
            <div class="row row-cols-1 d-flex align-items-center w-25">
              <div class="col">
                <span class="fw-semibold"> Unit price: </span>
                {{ product.total | currency: "USD" }}
                <br />
                <span class="fw-semibold"> Total price: </span>
                {{ product.total * product.amount | currency: "USD" }}
              </div>
            </div>

            <div class="d-flex align-items-center w-25">
              <div class="row row-cols-3 m-1" id="items-principal">
                <div
                  class="col d-flex justify-content-center"
                  (click)="removeAmount(product.id)"
                >
                  <button mat-raised-button color="warn">
                    <i class="bi bi-dash-circle"></i>
                  </button>
                </div>
                <div class="col d-flex justify-content-center num">
                  <span class="btn" id="items">
                    {{ product.amount }}
                  </span>
                </div>
                <div
                  class="col d-flex justify-content-center"
                  (click)="addAmount(product.id)"
                >
                  <button mat-raised-button color="warn">
                    <i class="bi bi-plus-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>

    <div class="row col-sm-1" id="pay">
    Total pay:
    {{ total | currency: "USD" }}
    <br>
    <a href="/products" class="btn"
    >Back to buy <i class="bi bi-bag-plus-fill"></i
      ></a>
    </div>



