img {
  width: 70px;
  height: 70px;
}
table {
  border: 1px solid #000000;
}
th {
  background-color: #0097ab;
  color: black;
  font-weight: bold;
}
td {
  background-color: #fffffe;
  color: black;
}

/* i {
} */
#items {
  /* background-color: #c44d4d; */
  color: white;
  /* background-color: #f4433688; */
  border-radius: 2px;
}
#items-principal {
  box-shadow: 3px 3px 2px 1px #0000008d;
}
.num {
  color: white;
  background-color: #f45d48;
}
#principal {
  background-color: #e3e3e3fe;
  border-radius: 10px;
  margin-left: 5px;
}

a,a:hover {
  color: white;
  text-decoration: none;
  background-color: #f45d48;
}

#pay{
  background-color: rgba(0, 0, 0, 0.288);
  position: fixed;
  color: white;
  z-index: 100;
  border-radius: 10px;
  float: right;
  right: 30px;
  top: 20px;
}
